
{{>head}}
    {{>navbar}}
     

  <div class="row">
    <div class="col-8">
      <h1>Oracle Cloud</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus dolor voluptatibus ducimus esse iusto sint accusamus doloremque deserunt architecto. Ipsa temporibus nobis consectetur recusandae tempora molestiae repellendus distinctio nihil delectus.</p>
    </div>
    <div class="col-4">
      <img src="assets/img/erp-cloud.png" class="img-thumbnail">
    </div>
  </div>


{{>footer}}